footer {
  bottom: 0;
  position: fixed;
  height: 30px;
  width: 100%;
}
.logout-btn:hover {
  cursor: pointer;
}
.coach-container {
  display: grid;
  grid-template-columns: repeat (auto-fit, minmax (500px, 2fr));
}
.input-search {
  text-align: right;
  margin: 20px 10px 0px 0px;
}
notFoundImg {
  /* position: fixed; */
  background-size: cover;
  width: 50rem;
  height: 80vh;
}
